.quiz {
  width: 20em;
  margin: 0 auto;
}

.quiz-top {
  display: flex;
  justify-content: space-between;
}

.question {
  display: flex;
  justify-content: center;
}

.change-question {
  display: flex;
  justify-content: space-between;
}

.choice {
  display: flex;
  justify-content: center;
}